@charset "UTF-8";

h1, h2 {
    margin: clamp(1rem, 2vw, 3rem) auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: clamp(1.75rem, 3.5vw, 3.5rem);
}

h2 {
    font-size: clamp(1.375rem, 2.75vw, 2.75rem);
}

body, label, i, li {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

main {
    width: clamp(300px, 70vw, 750px);
    max-width: 90vw;
    margin: 5vw auto;
    padding: 2.5vw;
    background-color: var(--bgcolor);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 12px 12px 0 0;
    /* white-space: nowrap; */
    line-height: 1.25; 
    font-family: var(--fonte);
    font-weight: 300;
    color: var(--fontcolor);
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label > i::before {
    content: "\f0fe";
}

label.todo {
    opacity: 0.6;
    cursor: not-allowed;
}

label.todo:hover {
    transform: none;
    opacity: 0.8;
}

label > i {
    display: inline-flex;
    vertical-align: -0.05em;
    width: 1.2em;
    height: 1.2em;
    gap: 0.5rem;
    line-height: 1.25; 
    text-align: center;
    font-family: "Font Awesome 6 Free";
    font-style: normal; 
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label > span {
    padding-left: 1rem;
    line-height: 1.25em;
    font-size: clamp(0.8rem, 1.6vw, 1rem);
}

section > ul {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

section > ul > li {
    list-style: none;
    position: relative;
    margin-left: clamp(1.5rem, 3vw, 2rem);
    padding-left: clamp(2rem, 4vw, 3rem);
    line-height: 1.5;
    font-weight: 250;    
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

section > ul > li::before {
    position: absolute;
    left: clamp(0.75rem, 1.5vw, 1rem);
    font-size: clamp(0.9rem, 1.8vw, 1.1rem);
    font-weight: 500;
    color: inherit;
    content: '\2714';
}

section > ul > li:hover {
    color: var(--hover);
}

input:not(:checked) + label:hover  {
    transform: translateY(-2px);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(20, 20, 20, 0.5);
    background: var(--bgcolor2);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}   

input:checked + label {
    cursor: default;
    background: var(--bgcolor2);
}

input[type="radio"]:checked + label i::before {
    content: "\f146";
}

input[type="radio"]:checked + label ~ ul {
    max-height: clamp(300px, 80vh, 90vh);
    background: var(--bgcolor2);
    padding-bottom: 1rem;
    border-radius: 0 0 12px 12px;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width: 320px) {
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    main {
        margin: 0 auto;
        flex: 1;
        padding-top: 10vw;
    }

    h2 {
        padding: 5vw 0;
    }
}